@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    * {
        @apply m-0 p-0;
    }
}

.divAddCategory {
    animation: fade-in 0.3s;
}

@keyframes fade-in {
    0% {
        scale: 0;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

.textareaAddItemForm {
    form-sizing: content;  /* Esta propiedad es nueva, no está en casi ningún navegador. No es un problema si tu navegador no te lo permite */
}
